<a href="https://colab.research.google.com/github/dm-fedorov/ml/blob/master/ai/06_%D0%9E%D0%B1%D0%BD%D0%B0%D1%80%D1%83%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5_%D1%84%D1%80%D0%BE%D0%B4.ipynb"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab" title="Open and Execute in Google Colaboratory" target="_blank"></a>

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix

In [2]:
# Read in the data from the CSV file
df = pd.read_csv('https://raw.githubusercontent.com/dm-fedorov/ml/master/datasets/payment_fraud.csv')

In [3]:
df.sample(3)

,accountAgeDays,numItems,localTime,paymentMethod,paymentMethodAgeDays,label
31814,4,1,4.965339,creditcard,3.322222,0
27866,5,1,5.017904,creditcard,4.065278,0
33957,506,2,4.745402,creditcard,0.000000,0

In [4]:
# Convert categorical feature into dummy variables with one-hot encoding
df = pd.get_dummies(df, columns=['paymentMethod'])
df.sample(3)

,accountAgeDays,numItems,localTime,paymentMethodAgeDays,label,paymentMethod_creditcard,paymentMethod_paypal,paymentMethod_storecredit
25716,975,1,5.040929,0.000000,0,1,0,0
36918,19,1,4.057414,0.001389,0,1,0,0
29477,1001,1,4.505662,0.000000,0,1,0,0

In [5]:
# Split dataset up into train and test sets
X_train, X_test, y_train, y_test = train_test_split(
    df.drop('label', axis=1), df['label'],
    test_size=0.33, random_state=17)

In [6]:
X_train.sample(3)

,accountAgeDays,numItems,localTime,paymentMethodAgeDays,paymentMethod_creditcard,paymentMethod_paypal,paymentMethod_storecredit
27527,2000,1,5.017904,886.436111,1,0,0
5915,915,1,4.921349,345.954861,0,1,0
27704,470,1,3.066058,322.661111,1,0,0

In [7]:
X_test.sample(3)

,accountAgeDays,numItems,localTime,paymentMethodAgeDays,paymentMethod_creditcard,paymentMethod_paypal,paymentMethod_storecredit
16391,160,1,5.034622,0.000000,1,0,0
28741,1991,1,4.057414,1393.980556,1,0,0
5400,566,1,4.895263,0.000000,1,0,0

In [8]:
y_train.sample(3)

13004    0
19215    0
25897    0
Name: label, dtype: int64

In [9]:
y_test.sample(3)

5315     0
26059    1
22026    0
Name: label, dtype: int64

In [10]:
# Initialize and train classifier model
clf = LogisticRegression().fit(X_train, y_train)

# Make predictions on test set
y_pred = clf.predict(X_test)

In [11]:
y_pred

array([0, 0, 0, ..., 0, 0, 0])

In [12]:
# Compare test set predictions with ground truth labels
accuracy_score(y_pred, y_test)

1.0

In [13]:
print(confusion_matrix(y_test, y_pred))

[[12753     0]
 [    0   190]]